/* .navbar{
    height: 90px;
}
.button{
    border: none;
    height: 50px;
    font-size: 25px;
   width: 160px;
    text-align: center;
    color: white;
}
.shopping{
    background-color:#0275d8;

}
.shopping:hover{
    color:#0275d8;
    background-color:white;
    border: 1px solid #0275d8;
}
.recipe{
    background-color: orange;
}
.recipe:hover{
    color:orange;
    background-color:white;
    border: 1px solid orange;
} */
