
<div class="row">
    <div class="col-md-12 text-center ">
      <img src="{{recipe.imagePath}}" alt="" class="img-fluid shadow" height="400">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 ">
      <h1>{{recipe.name}}</h1>
    </div>
    <div class="col-md-12 ps-5 pe-5 description" >
      <p>{{recipe.description}}</p>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Manage Recipe
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Shopping List</a></li>
              <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
              <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Description
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Ingredients
    </div>
  </div>

